<app-header />
<div class="h-screen flex flex-col bg-gray-800 pt-10">
<div class="flex text-center justify-between mx-4">
  <img src="img/personnage.svg" alt="mascotte" class="pt-5" />
  <p class="text-white z-10 h-fit p-1.5 ml-2">"Bonjour bienvenu chez Smile Phone. Cliquez sur le bouton ci-dessous afin d'entrer les informations nécessaires a un devis."</p>
  <img src="img/chatbox.svg" alt="chatbox" class="fixed ml-24 w-64 h-52" />
  </div>
  <button (click)="redirect()" class="bg-[#2175C2] w-48 rounded-2xl py-3 px-16 text-white mt-20 mx-auto">
    Devis
  </button>
</div>
